<!DOCTYPE HTM>
<HTML lang="ko">
<HEAD>
  <TITLE>Flask Server Test</TITLE>
  <META charset=UTF--8>
  <META name="viewport" content="width-device-width, initial-scake=1, shrink-to-file=no">
  <LINK rel="stylesheet" href="{{ url_for('static',filename='bootstrap.min.css') }}">
  <LINK rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
  <script src="{{ url_for('static', filename='jquery-3.6.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
  {% block script %}
  {% endblock %}
</HEAD>
<BODY>
{% include "navbar.html" %}
{% block content %}
{% endblock %}
</BODY>
</HTML>