<!DOCTYPE HTM>
<HTML lang="ko">
<HEAD>
  <TITLE>Flask 파이보 Server Test</TITLE>
  <META charset=UTF--8>
  <META name="viewport" content="width-device-width, initial-scake=1, shrink-to-file=no">
  <link rel="shortcut icon" href="#">
  <LINK rel="stylesheet" href="{{ url_for('static',filename='bootstrap.min.css') }}">
  <LINK rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">

<style>
.pagination-page-info {
    padding: .6em;
    padding-left: 0;
    width: 40em;
    margin: .5em;
    margin-left: 0;
    font-size: 12px;
}
.pagination-page-info b {
    color: black;
    background: #6aa6ed;
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 150%;
}
</style>

  <script src="{{ url_for('static', filename='jquery-3.6.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
  {% block script %}
  {% endblock %}
</HEAD>
<BODY>
{% include "navbar.html" %}
{% block content %}
{% endblock %}
</BODY>
</HTML>